<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div th:fragment="myorderdetailsmodal">
    <th:block th:each="order : ${cafeOrders}">
        <div class="container demo">
            <div class="modal" th:id="${order.id}" tabindex="" role="dialog" aria-labelledby="orderModal"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="nav flex-sm-column flex-row">
                                <th:block th:each="menuItem : ${order.cartItemListInternal}">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <th:block th:if="${menuItem.quantity>0}">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Order Details</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Price</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>

                                                        <td><p><span><img th:src="${menuItem.imagePath}"
                                                                          width="100px" style="border-radius: 7%;"></span> <span class="h3"
                                                                                                      th:inline="text"> [[${menuItem.menuItemName}]] </span>
                                                        </p>
                                                            <p class="text-muted" th:inline="text">
                                                                [[${menuItem.menuItemDescription}]]</p></td>
                                                        <td th:inline="text"> [[${menuItem.quantity}]]</td>
                                                        <td th:inline="text">$ [[${menuItem.subTotal}]]</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </th:block>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>

</body>
</html>
