<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <title>Freshbrew Cafe</title>


    <!--

    TemplateMo 558 Klassy Cafe

    https://templatemo.com/tm-558-klassy-cafe

    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">

    <link rel="stylesheet" th:href="@{/css/cafemgmt.css}">

    <link rel="stylesheet" th:href="@{/css/owl-carousel.css}">

    <link rel="stylesheet" th:href="@{/css/lightbox.css}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


</head>

<body>

<div th:replace="fragments/cf-header :: header-customer-facing"></div>

<section class="section">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 text-center">
            <div class="section-heading">
                <h6>Freshbrew Menus</h6>
                <h2>Choose from the list of menus below!</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row" id="tabs">
                <div class="col-lg-12">
                    <div class="heading-tabs">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <ul>
                                    <th:block th:each="menu : ${menus}">
                                        <li><a th:href='@{#}+${menu.id}'><img th:src="@{/}+${menu.imagePath}" alt=""
                                                                              th:inline="text"
                                                                              style="width: 100px; height: 60px; max-width: 100%;">[[${menu.name}]]</a>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <section class='tabs-content'>
                        <th:block th:each="menu : ${menus}">
                            <article th:id='${menu.id}'>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row justify-content-center">
                                            <div class="left-list">
                                                <div class="col-lg-12">
                                                    <th:block th:each="menuItem : ${allMenuItems}">
                                                        <th:block th:if="${menu.menu_items.contains(menuItem.id)}">
                                                            <div class="tab-item">
                                                                <img th:src="@{/}+${menuItem.imagePath}"
                                                                     th:value="${menuItem.id}" alt="">
                                                                <h4>[[${menuItem.name}]]</h4>
                                                                <p>[[${menuItem.description}]]</p>
                                                                <div class="price">
                                                                    <h6>$[[${menuItem.price}]]</h6>
                                                                </div>
                                                                <div class="input-group">
                                                                    <span class="input-group-btn">
                                                                        <button type="button"
                                                                                class="quantity-left-minus btn btn-danger btn-number"
                                                                                data-type="minus" data-field="">
                                                                          <span class="glyphicon glyphicon-minus"></span>
                                                                        </button>
                                                                    </span>
                                                                    <th:block th:object="${cartItems}">
                                                                        <!-- 1:7:24:40, 3:1:241:40, 2:1:12:41, 1:1:24:42 -->
                                                                        <th:block
                                                                                th:if="${#strings.isEmpty(cartItems)}">
                                                                            <input type="text" id="quantity"
                                                                                   name="quantity"
                                                                                   class="form-control input-number"
                                                                                   th:value="0" min="1" max="100"
                                                                                   disabled>
                                                                        </th:block>
                                                                        <th:block
                                                                                th:unless="${#strings.isEmpty(cartItems)}"
                                                                                th:each="cartItem : ${#strings.listSplit(cartItems, ',')}">
                                                                            <!--<p th:text="${#strings.arraySplit(cartItem, ':')}"></p>-->
                                                                            <th:block
                                                                                    th:unless="${#strings.isEmpty(cartItem)}"
                                                                                    th:with="menuId=${#strings.toString(menu.id)}">
                                                                                <th:block
                                                                                        th:with="itemOps=${#strings.listSplit(cartItem, ':')}">
                                                                                    <th:block
                                                                                            th:if="${#strings.equals(itemOps[3], menuId)}">
                                                                                        <th:block
                                                                                                th:switch="${#strings.equals(itemOps[0], menuItem.id)}">
                                                                                            <input th:case="true"
                                                                                                   type="text"
                                                                                                   id="quantity"
                                                                                                   name="quantity"
                                                                                                   class="form-control input-number"
                                                                                                   th:value="${itemOps[1]}"
                                                                                                   min="1" max="100"
                                                                                                   disabled>
                                                                                        </th:block>
                                                                                    </th:block>
                                                                                </th:block>
                                                                            </th:block>

                                                                        </th:block>

                                                                    </th:block>

                                                                    <span class="input-group-btn">
                                                                        <button type="button"
                                                                                class="quantity-right-plus btn btn-success btn-number"
                                                                                data-type="plus" data-field="">
                                                                            <span class="glyphicon glyphicon-plus"></span>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </th:block>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </article>
                        </th:block>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ***** Chefs Area Ends ***** -->

<!-- ***** Footer Start ***** -->


<!-- jQuery -->
<script src="/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/js/owl-carousel.js"></script>
<script src="/js/accordions.js"></script>
<script src="/js/datepicker.js"></script>
<script src="/js/scrollreveal.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/imgfix.min.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/isotope.js"></script>

<!-- Global Init -->
<script src="/js/custom.js"></script>
<script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });



$(document).ready(function(){
jQuery('.quantity-right-plus').each(function(e) {
var respPar = jQuery(this).parent().prev();
if(respPar.attr('id') == undefined) {
    jQuery(respPar).replaceWith(`<span class="input-group-btn"><button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field=""><span class="glyphicon glyphicon-minus"></span></button></span><input type="text" id="quantity" name="quantity" class="form-control input-number" value=0 min="1" max="100" disabled>`);
}
});

   $('.quantity-right-plus').click(function(e){
        e.preventDefault();
        var action = 'plus';
        var quantity = parseInt($(this).parent().prev().val());
        var id = jQuery(this).parent().parent().parent().children('img').attr('value');
        var menu_id = jQuery(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().attr('id');
        $(this).parent().prev().val(quantity+=1);
        makeDatabaseCall(quantity, id, action, menu_id);
    });
     $('.quantity-left-minus').click(function(e){
        e.preventDefault();
        var action = 'minus';
        var quantity = parseInt($(this).parent().next().val());
        var id = jQuery(this).parent().parent().parent().children('img').attr('value');
        var menu_id = jQuery(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().attr('id');
        if(quantity > 0) {
            $(this).parent().next().val(quantity-=1);
        }
        makeDatabaseCall(quantity, id, action, menu_id);
    });
});

    function makeDatabaseCall(quantity, id, action, menu_id) {
        $.ajax({
            type: 'POST',
            url: '/api/carts',
            dataType: 'json',
            xhrFields: { 'withCredentials': true },
            data: { 'item_id': id,
                    'quantity': quantity,
                    'action': action,
                    'menu_id': menu_id
            }, success: function(msg) { alert('wow', msg); }
        });
    }




</script>
</body>
<html>