<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header class="header-area header-sticky"
        style="background-color: #652d13;background-image: linear-gradient(300deg, #652d13 10%, #d3d3d3 170%);background-size: cover;"
        th:fragment="header-customer-facing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="/site/menus" class="logo">
                        <img th:src="@{/images/logo.png}" width="55" height="55"><span
                            style="font-family:Cookie; font-size:40px;"> reshbrew Cafe</span>
                    </a>
                    <span th:if="${role} == admin">
                                <ul class="nav">
                                <li class="scroll-to-section"><a href="/site/menus" class="active">Menus</a></li>
                                <li class="scroll-to-section"><a th:href="@{/admin}">Admin</a></li>
                                <li class="scroll-to-section"><a href="/pending_orders">Pending Orders</a></li>
                                    <li class="scroll-to-section"><a th:href="@{/site/menus/cart}">Cart</a></li>
                                <li class="scroll-to-section">
                                    <form name="logoutForm" th:action="@{/logout}" method="post">
                                        <input type="submit" value="Logout" class="btn btn-danger">
                                    </form>
                                </li>
                                </ul>
                            </span>
                    <span th:if="${role} == clerk">
                                <ul class="nav">
                                <li class="scroll-to-section"><a href="/site/menus" class="active">Menus</a></li>
                                <li class="scroll-to-section"><a href="/pending_orders">Pending Orders</a></li>
                                    <li class="scroll-to-section"><a th:href="@{/site/menus/cart}">Cart</a></li>
                                    <li class="scroll-to-section">
                                    <form name="logoutForm" th:action="@{/logout}" method="post">
                                    <input type="submit" value="Logout" class="btn btn-danger">
                                    </form>
                                    </li>
                                </ul>
                            </span>
                    <span th:if="${role} == customer">
                                <ul class="nav">
                                <li class="scroll-to-section"><a href="/site/menus" class="active">Menus</a></li>
                                <li class="scroll-to-section"><a href="/site/my_orders">My Orders</a></li>
                                    <li class="scroll-to-section"><a th:href="@{/site/menus/cart}">Cart</a></li>
                                <li class="scroll-to-section">
                                    <form name="logoutForm" th:action="@{/logout}" method="post">
                                    <input type="submit" value="Logout" class="btn btn-danger">
                                    </form>
                                    </li>
                                </ul>
                            </span>

                </nav>
            </div>
        </div>
    </div>
</header>
</body>
</html>