<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoice | Freshbrew Cafe Management</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/6bb6871a7b.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/css/invoice.css" rel="stylesheet" type="text/css">
</head>
<body>

<th:block th:object="${cafeOrder}">
<div class="container" th:inline="text">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <br>
                <h2 style="font-family:Cookie; font-size:40px;"><img src="/images/logo.png" width="70px"> Freshbrew Cafe</h2><h3 class="pull-right">Order # [[${cafeOrder.id}]]</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6" >
                        <strong>Billed To:</strong><br>
                        [[${cafeOrder.customerName}]]<br>
                </div>
                <div class="col-xs-6 text-right">
                        <strong>Approved By:</strong><br>
                        [[${cafeOrder.approvedUserName}]]<br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                        <strong>Customer Email:</strong><br>
                        [[${cafeOrder.customerEmail}]]
                </div>
                <div class="col-xs-6 text-right">
                    <strong>Order Date:</strong><br>
                    [[${cafeOrder.formattedOrderDate}]]<br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order Summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Item</strong></td>
                                <td class="text-center"><strong>Price</strong></td>
                                <td class="text-center"><strong>Quantity</strong></td>
                                <td class="text-right"><strong>Subtotal</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="order : ${cafeOrder.cartItemListInternal}">
                            <tr>
                                <td>[[${order.menuItemName}]]</td>
                                <td class="text-center">$[[${order.individualPrice}]]</td>
                                <td class="text-center">[[${order.quantity}]]</td>
                                <td class="text-right">$[[${order.subTotal}]]</td>
                            </tr>
                            </th:block>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-center"><strong>Total</strong></td>
                                <td class="no-line text-right">$[[${cafeOrder.totalPrice}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pull-right">
            <button onclick="window.print();" class="btn btn-light noPrint"><i class="fas fa-print"></i> Print</button>
        </div>
    </div>
</div>
</th:block>

</body>
</html>