<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/login.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<!------ Include the above in your HEAD tag ---------->

<body style="background: rgb(235, 239, 243)">
<div class="wrapper-cfm" >
<div class="sidenav image-bv">
    <div class="login-main-text">
        <h2>Freshbrew <br> Cafeteria</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <div class="container">
                <form class="form-signin" method="POST" th:action="@{/login}">
                    <h2 class="form-heading" style="font-family: 'Staatliches', cursive;">Log in</h2>

                    <div class="form-group">
                        <span th:text="${message}"></span>
                        <input name="username" type="text" class="form-control" style="font-family: 'Fira Sans', sans-serif;" placeholder="Username"
                               autofocus="true"/>
                        <br>
                        <input name="password" type="password" class="form-control" style="font-family: 'Fira Sans', sans-serif;" placeholder="Password"/>
                        <span class="has-error" th:text="${error}"></span>
                        <br>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                        <button class="btn btn-black" type="submit">Log In</button>
                        <a class = "btn btn-secondary" href="/signup">Create an account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>