<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freshbrew | Admin Console</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/6bb6871a7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>


</head>

<body id="page-top">
    <div id="wrapper">
        <div th:insert="fragments/navbar :: navbar"></div>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <div th:insert="fragments/topbar :: topbar"></div>

            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-12 col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <button class="d-flex justify-content-start d-sm-inline-block btn btn-primary shadow-sm">
                                <i class="fa fa-user text-white-50"></i><a class="addNewUser" th:href="@{/users/new}" style="text-decoration: none; color:#fff;">      Add User</a>
                            </button>
                            <div class="card-body">
                                <div class="chart-area">

                                        <div class="tablet">
                                            <table id="myTable" class="card-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col text-primary">User Name</th>
                                                    <th scope="col text-primary">User Role</th>
                                                    <th scope="col text-primary">Handle</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <th:block th:object="${users}" th:each="user : ${users}">
                                                    <tr>
                                                        <td th:inline="text">[[${user.name}]] ( [[${user.emailAddress}]] )</td>
                                                        <th:block th:switch=${user.authority}>
                                                            <td th:case="'ROLE_CUSTOMER'" th:inline="text">Customer</td>
                                                            <td th:case="'ROLE_ADMIN'" th:inline="text">Admin</td>
                                                            <td th:case="'ROLE_CLERK'" th:inline="text">Clerk</td>
                                                        </th:block>
                                                        <td class="d-flex justify-content-center">
                                                            <th:block th:unless="${user.authority=='ROLE_CUSTOMER'}">
                                                                <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                                    <i class="fas fa-pencil-alt text-white-50"></i><a th:href="@{/users/}+${user.id}+@{/edit}" style="text-decoration: none; color:#fff;">      Edit User</a>
                                                                </button>
                                                            </th:block>
                                                            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                                <i class="fas fa-dumpster text-white-50"></i><a class="deletionOp" th:value="@{/api/users/}+${user.id}" style="text-decoration: none; color:#fff;">      Delete User</a>
                                                            </button>
                                                            <script>
                                                                jQuery('.deletionOp').on('click', function(e) {
                                                                    e.preventDefault();
                                                                    fetch((e.currentTarget.attributes[1].value), {
                                                                        "method": 'DELETE',
                                                                        "credentials":"include",
                                                                    }).then((response) => {
                                                                        console.log("USER DELETED");
                                                                        window.location.href = "/users";
                                                                    })
                                                                })
                                                            </script>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>

            </div>

                <!-- Content Row -->


        </div>
    </div>



    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
<!--    <script src="/js/jquery.min.js"></script>-->
<!--    <script src="/js/bootstrap.bundle.min.js"></script>-->

<!--    &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

        <script>
        jQuery(document).ready(function() {
            jQuery.noConflict();
            jQuery('#myTable').DataTable();
        });
        </script>



</body>

</html>